<footer class="pt-6 footer">
    <div class="container">
        <div class="row justify-content-between" style="padding: 10px 0; padding-bottom: 20px">
            <div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column;">
                <h3 class="h6">About Us</h3>
                <nav  class="">
                    <ul id="menu-footer" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column;">
                <h3 class="h6">For Members</h3>
                <nav  class="">
                    <ul id="" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column;">
                <h3 class="h6">For Students</h3>
                <nav  class="">
                    <ul id="menu-footer" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column;">
                <h3 class="h6">Follow Us</h3>
                <div class="text-left">
                    <a href="#" target="_blank" class="p-1">
                        <span class="social twitter circle">Twitter</span>
                    </a>
                    <a href="https://www.linkedin.com/in/aadesina/" target="_blank" class="p-1">
                        <span class="social linkedin circle">LinkedIn</span>
                    </a>
                </div>
            </div>
            <span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
                <img src="/images/toTop.svg" class="img-fluid">
            </span>
        </div>
    </div>
    <div class="mt-4">
        <div class="container"  style="border-top: 1px solid #707070">
            <div class="row">
                <div class="col-lg-14">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link disabled pl-0">©2019 {{ site.title }}. All Rights Reserved.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <ul class="nav justify-content-end nav-footer">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Site Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Support & Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
