<div class="section section--bg-cyan">
    <h4>Stay Informed</h4>
    <p>Sign up for our newsletter and be the first to know what’s new</p>
    <form class="container p-6">
        <div class="row">
            <div class="form-group col-lg-10">
                <input type="text" class="form-control" placeholder="Your Name"/>
            </div><div class="form-group col-lg-10">
                <input type="text" class="form-control" placeholder="Email"/>
            </div><div class="form-group col-lg-4">
                <button class="btn btn-default bg-white btn-block">Sign up</button>
            </div>
        </div>
    </form>
</div>
