<section>
    <div class="container-fluid">
        <div class="b-sub-header">
            <div class="b-sub-header__pos">
                <div class="b-sub-header__texts">
                    <div style="" class="pl-6 pr-6">
                        <span>{{ title }}</span>
                        <h3 class="t-48">{{ subtitle }}</h3>
                    </div>
                </div>
            </div>
            <div class="b-sub-header__overlay"></div>
            <img  src="/images/{{imgUrl}}" class="b-sub-header__image" />
        </div>
    </div>
</section>
