<section class="sub-header">
    <div class="container-fluid">
            <div class="owl-carousel owl-theme">
                <div style="position: relative">
                    <div style="position:absolute;z-index: 30;height:100%;padding: 40px;color: white">
                        <div style="display: flex;justify-items: center;display: flex;align-items: center;height: 100%;">
                            <div style="width: 650px">
                                <h3 class="t-48">The Leading Professional Body
                                    Dedicated to Corporate Governance
                                    and Administration</h3>
                                <p>The Institute of Chartered Secretaries and Administrators of Nigeria (ICSAN) is a
                                    leading and recognised professional body dedicated to enhancing the status and
                                    practice of corporate governance and administration in both the public and
                                    private sectors of the economy.</p>
                                <button class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div style="position:absolute;z-index: 10;background: rgba(0,0,0,0.5);left:0;width:100%;height:100%"></div>

                    <img  src="/images/img1.jpg" />
                </div>
                <div style="position: relative">
                    <div style="position:absolute;z-index: 30;height:100%;padding: 40px;color: white">
                        <div style="display: flex;justify-items: center;display: flex;align-items: center;height: 100%;">
                            <div style="width: 650px">
                                <h3 class="t-48">The Leading Professional Body
                                    Dedicated to Corporate Governance
                                    and Administration</h3>
                                <p>The Institute of Chartered Secretaries and Administrators of Nigeria (ICSAN) is a
                                    leading and recognised professional body dedicated to enhancing the status and
                                    practice of corporate governance and administration in both the public and
                                    private sectors of the economy.</p>
                                <button class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div style="position:absolute;z-index: 10;background: rgba(0,0,0,0.5);left:0;width:100%;height:100%"></div>

                    <img  src="/images/img1.jpg" />
                </div>
                <div style="position: relative">
                    <div style="position:absolute;z-index: 30;height:100%;padding: 40px;color: white">
                        <div style="display: flex;justify-items: center;display: flex;align-items: center;height: 100%;">
                            <div style="width: 650px">
                                <h3 class="t-48">The Leading Professional Body
                                    Dedicated to Corporate Governance
                                    and Administration</h3>
                                <p>The Institute of Chartered Secretaries and Administrators of Nigeria (ICSAN) is a
                                    leading and recognised professional body dedicated to enhancing the status and
                                    practice of corporate governance and administration in both the public and
                                    private sectors of the economy.</p>
                                <button class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div style="position:absolute;z-index: 10;background: rgba(0,0,0,0.5);left:0;width:100%;height:100%"></div>

                    <img  src="/images/img1.jpg" />
                </div>
            </div>
    </div>
</section>
